<h1>Welcome!</h1>

<form action='/greet' method= "POST">
<label for ="user_name"> Name:</label>
## FOR MATCHES ID INPUT TAG 
    <p><input type"text" name="user_name" id="user_name" /></p>
###NAME ATT IN THE INPUT TAG IS THE ONE THAT SHOWS UP IN PARAMS HASH
    <input type="submit" value="Submit"/>
    ## VALUE ATT IN SUBMIT DETER WHAT ATT WILL BE SUBMIT IN THE BUTTON
</form> 